body, a {
  font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.top-bar {
  min-height: 140px;
  background-color: #4CD0E0;
}

.intro {
  background: #44BBC9;
  padding-top: 100px;
  padding-bottom: 10px;
  position: relative;
  color: white;
}

.intro img {
  position: absolute;
  width: 160px;
  height: 160px;
  top: -80px;
  margin-left: -80px;
  left: 50%;
  border: 2px solid #fff;
  border-radius: 50%;
}

.intro .name {
  font-size: 50px;
  margin: -10px 0 20px;
}

.intro .title {
  font-size: 30px;
  font-style: italic;
  margin-bottom: 20px;
}

.social a {
  font-size: 4rem;
  color: white;
  display: inline-block;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50%;
}

.social a:hover {
  color: #2D7C86;
}

.contact-info {
  font-size: 2rem;
  background: #3CA6B3;
  min-height: 50px;
}

.contact-info ul {
  color: white;
  margin-top: 15px;
}

.contact-info a {
  color: white;
  margin-top: 15px;
}

.contact-info i {
  margin-right: 50px;
}

.profile {
  background: #35919C;
}

.profile p {
  color: white;
  line-height: 28px;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}

.page-nav-space-holder {
  background: #2D7C86;
  min-height: 50px;
}
.page-nav-space-holder ul {
  margin-top: 13px;
  text-transform: uppercase;
}

.page-nav-space-holder a {
  color: #d7d7d7;
  margin-right: 50px;
  text-decoration: none;
}

.page-nav-space-holder a:hover {
  color: white;
}

#tech-skills,
#other-skills {
  padding: 30px 0;
}

.unstyled {
  list-style: none;
}

.unstyled i {
  margin-right: 20px;
}

#tech-skills ul,
#other-skills ul {
  margin-top: 20px;
  margin-left: -40px;
}

#tech-skills li,
#other-skills li {
  color: #666;
  margin-bottom: 20px;
}

.title-bullet-list {
  font-weight: bold;
  color: #555;
  border-bottom: 2px solid #555;
}

#other-skills {
  background: #eeeeee;
}

footer {
  background: #333;
  min-height: 100px;
}

footer p,
footer a {
  color: #e3e3e3;
  padding-top: 40px;
  font-size: 0.9em;
}

footer a:hover {
  color: white;
  text-decoration: none;
}
